*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   background-color: black;
}


html,body{
    width: 100%;
    height: 100%;
}
#minicircle{
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    z-index: 99999;
    border-radius: 50%;
}
.bounding{
    width: fit-content;
    overflow: hidden;
}
.bounding .boundingelem{
    transform: translateY(100%);
}

#main{
    width:100% ;
}

#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color: rgb(255, 255, 255);
    

}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 20px 40px;
    color: white;
}

#nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}
 
#heading h1{
    font-size: 9vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
    opacity: .6;
    margin-left: 30px ;
}

#heading{
    margin-top: 90px;
}

#heading #secondh1{
   margin-left: 220px;

}
.blocktext{
width: fit-content;
display: flex;
flex-direction: column;
align-items: end;
}
.blocktext h5 {
    text-transform: uppercase;
    font-size: 15px;
    text-align: right;
}

#chotiheadings{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 200px;
    padding-right: 30px;
}

#chotiheadings h5{
        text-align: right;
        text-transform: uppercase;
        margin-top: .5vw;
        font-size: 1vw;
}

#herofooter{   
    padding: 0 2vw;
    bottom: 3%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
#herofooter a{
    color: white;
    padding-bottom: 20px ;
    text-transform: uppercase;
    text-decoration: none;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;

}

#herofooter .circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    background-color: rgb(115, 113, 113);
    justify-content: center;
}
#second{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 200px;
    padding-right: 10vw;
    color: white;
    
}
 
.elem{
    position: relative;
    width: 100%;
    border-top: 1px solid white;
    padding: 4vw 3vw;
    padding-right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.elem h1{
    text-transform: uppercase;
    font-size: 8vw;
    opacity: .6;

}

.elemlast{
    border-bottom: 1px solid white
}

.elem img {
    position:absolute;
    z-index: 999;
    height: 90%;
    opacity: 0;
    
}

#about{
    width: 100%;
    background-color: black;
    padding: 10vw 5vw;
    color: white;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 30vw;   
}
 #textabout{
    width: 25rem;

 }
 #textabout h5{
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;

 }

 #textabout p {
    line-height:1.7;
    margin-bottom: 30px;

 }

 #about img{
   width: 30vh;
   border-radius: 50px;
 }

 #textabout a {
    padding: 12px 22px;
    border: 1px solid white;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 15px;

 }
 #subscribe{
    background-color: black;
    color: white;
    padding: 20px 30px ;
    padding-bottom: 10vw;


 }

 #subscribe h5{
    text-transform: uppercase;
    opacity: .6;

 }

 #subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;

 }
 
 #footer{
    color: white;
    background-color: black;
    display: flex;
    align-items:center ;
    justify-content: space-between;
    padding: 20px;
 }

 #footerleft{
   display: flex;
   gap: 20px;

 }
 #footerright{
   display: flex;
   gap: 20px;

 }
 
 #footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;


 }